/* Don't FUCKING touch this code (^-^) */
::root{
    --color-text: #fff;
}
#app {
    width: 100vw;
    overflow-x: hidden;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;

  }
  
  nav {
    padding: 30px;
  }
  
  nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  nav a.router-link-exact-active {
    color: #42b983;
  }
/*touch this code, with consent. Obviously!?? (^-^) */
/* Navbar */
.brand{
    font-family: "Cinzel Decorative", sans-serif;
}